/* General Styles */
.audioLive {
    width: 100%;
    margin-top: 4rem;
    background-color: white; /* White Background */
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .audioLive_box {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
  }
  
  /* Left Section */
  .audioLive_box_left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  /* Right Section */
  .audioLive_box_right {
    padding: 0.5rem 0 0 0;
    display: grid;
    gap: 2rem;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .audioLive_box {
      width: 90%;
      grid-template-columns: 1fr;
    }
  
    .audioLive_box_left {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  
    .audioLive_box_right {
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 425px) {
    .audioLive_box {
      width: 90%;
      grid-template-columns: 1fr;
    }
  
    .audioLive_box_left {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  
    .audioLive_box_right {
      gap: 1.5rem;
    }
  }
  