/* General Audio Player Styles */
.audioPlayer_box {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    align-items: center;
    gap: 1.3rem;
    background-color: white; /* White Background */
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    height: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
    cursor: pointer;
  }
  
  .audioPlayer_box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Image */
  .audioPlayer_box_img {
    border-radius: 0.5rem;
  }
  
  /* Info Section */
  .audioPlayer_box_info {
    color: #333;
  }
  
  .audioPlayer_box_info h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .audioPlayer_box_info_box {
    display: flex;
    gap: 1rem;
  }
  
  .audioPlayer_box_info_box_price {
    border: 1px solid #0056b3; /* Blue Accent */
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .audioPlayer_box_info_box_price small {
    background-color: #0056b3; /* Blue Accent */
    color: white;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
  }
  
  .audioPlayer_box_info_box_price p {
    margin-top: 0.5rem;
    color: #0056b3;
  }
  
  /* Play Button */
  .audioPlayer_box_playBtn {
    font-size: 2rem;
    background-color: #0056b3; /* Blue Accent */
    border-radius: 50%;
    color: white;
    padding: 1rem;
    transition: background-color 0.3s;
  }
  
  .audioPlayer_box_playBtn:hover {
    background-color: #003d7a; /* Darker Blue */
  }
  