/* Filter Section */
.filter {
    padding: 4rem 0;
    width: 100%;
    background-color: white; /* White Background */
  }
  
  /* Filter Box */
  .filter_box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
  }
  
  /* Left Buttons */
  .filter_box_left {
    display: flex;
    gap: 1.5rem;
  }
  
  .filter_box_left button {
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid #0056b3; /* Blue Accent */
    font-size: 1.3rem;
    cursor: pointer;
    background-color: white;
    color: #0056b3; /* Blue Accent */
    transition: all 0.3s ease-in;
  }
  
  .filter_box_left button:hover {
    background-color: #0056b3; /* Blue Accent */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Filter Toggle */
  .filter_box_right_box {
    border: 1px solid #0056b3; /* Blue Accent */
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #0056b3; /* Blue Accent */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Filter Items */
  .filter_box_items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 0;
    border-top: 1px solid #e0e0e0;
  }
  
  .filter_box_items_box {
    padding: 1rem;
  }
  
  .filter_box_items_box_item {
    background-color: #0056b3; /* Blue Accent */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .filter_box_items_box_item_trans {
    border: 1px solid #0056b3; /* Blue Accent */
    color: #0056b3; /* Blue Accent */
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .filter_box_items_box_item_trans:hover {
    background-color: #0056b3; /* Blue Accent */
    color: white;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 425px) {
    .filter_box {
      width: 90%;
      flex-direction: column;
      gap: 2rem;
    }
  
    .filter_box_left {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .filter_box_items {
      flex-direction: column;
      width: 90%;
    }
  }
  
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .filter_box {
      width: 90%;
      flex-wrap: wrap;
      gap: 2rem;
    }
  
    .filter_box_items {
      width: 90%;
      flex-wrap: wrap;
    }
  }
  